/* ----------------- */
/*  LOCAL VARIABLES  */
/* ----------------- */
/* -------------- */
/*	 Global Tags  */
/* -------------- */
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
}

h2 {
  color: #0096db;
}

p {
  letter-spacing: 0.05rem;
}

footer {
  padding: 20px 0;
  height: 300px;
}

/* ------------------- */
/* Bootstrap Overrides */
/* ------------------- */
/* JUMBOTRON */
.jumbotron {
  padding: 30px;
  position: relative;
  background-image: url("/img/bg-tents.jpg");
  background-size: cover;
  background-position: center;
  height: 75vh;
  min-height: 500px;
  margin: 0;
}

.jumbotron .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #dadada7e;
  left: 0;
  top: 0;
}

.half-jumbotron {
  height: 25vh;
  min-height: 250px;
}

/* NAVBAR */
.nav-link {
  font-size: 1.15rem;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 768px) {
  .nav-link {
    font-size: 0.8rem;
  }
}
.nav-item .active {
  border-bottom: solid 2px #0096db;
}

.navbar-default {
  transition: 500ms ease;
  background: transparent;
}

@media screen and (max-width: 576px) {
  .navbar {
    background-color: #302d2d;
  }
}
.navbar-default.scrolled {
  background: #302d2d;
}

/* Carousel */
.carousel,
.carousel-inner,
.carousel-item {
  min-height: 380px;
  height: 50vh;
}

.carousel-item {
  background-size: cover;
  background-position: center;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-breadcrumb {
  background-image: url("/img/bg-campsite.jpg");
}

.bg-react-lake {
  background-image: url("/img/bg-lake.jpg");
}

.bg-chrome-river {
  background-image: url("/img/bg-river.jpg");
}

/* btn */
.btn {
  letter-spacing: 0.1rem;
}

/* Cards */
.card-img-top {
  height: 350px;
  background-size: cover;
  background-position: center;
  border-bottom: solid 1px #0096db;
}

/* ----------------- */
/* 	Local Classes	 */
/* ----------------- */
.row-content {
  padding: 100px 0;
  min-height: 200px;
}

.row-half-pad {
  padding: 50px 0;
}

.border-primary {
  border-color: #302d2d !important;
}

.text-review-name {
  font-size: 0.75rem;
  color: #302d2d;
}

.rating i {
  color: #f4d039;
}

.reviewPic {
  height: 75px;
  width: 75px;
  border-radius: 50px;
  margin-left: auto;
  margin-top: 20px;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .reviewPic {
    height: 100px;
    width: 100px;
  }
}
@media screen and (min-width: 960px) {
  .reviewPic {
    height: 130px;
    width: 130px;
    border-radius: 75px;
  }
}
.contact-card a {
  width: 100%;
}
.contact-card a .fa-phone,
.contact-card a .fa-envelope-open-text {
  border: solid 2px #0096db;
  border-radius: 50px;
  padding: 10px;
}

/* --------------- */
/* Utility Classes */
/* --------------- */
.text-brand-blue {
  color: #0096db !important;
}

.bg-brand-blue {
  background-color: #0096db !important;
}

.text-brand-purple {
  color: #a83da3 !important;
}

.bg-brand-purple {
  background-color: #a83da3 !important;
}

/*# sourceMappingURL=styles.css.map */
